@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  background-color: #111;
}

.title1 {
  font-family: "Montserrat";
  text-align: left;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100vh;
  letter-spacing: 1px;
}




.title1 h1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 71px;
  line-height: .75;
  margin: 10px 0;
}



/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: yellow;
  transition: .35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
}

.white-mode:hover {
  background-color: yellow;
  color: #122;
}
