body{
 
  background: url("5star.jpg");
  background-size: cover;
  
  background-color: #42455a;
  

   height: 100%; 

  /* Center and scale the image nicely */
  background-position: 0% 15%;
  background-repeat: no-repeat;
  background-color: #42455a;
  font-family: sans-serif;
  
}
  
.loginbox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 500px;
  padding:80px 40px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.69);

}
.user{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: calc(-100px/2);
  left: calc(50% - 50px);
}
h2{
  margin: 0;
  padding: 0 0 20px;
  color: #efed40;
  text-align: center;
}
.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}
.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}
.loginbox input[type="text"],
.loginbox input[type="Password"]
{
  border:none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;

}
.loginbox h5{
    color:white;
}
.loginbox h5 a{
  text-decoration: underline;
  color: blue;
}

::placeholder{
  color: rgba(255,255,255,0.5);
}
.loginbox input[type="submit"]{
  border:none;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background:#ff267e;
  cursor: pointer;
  border-radius: 20px;

}
.loginbox input[type="submit"]:hover
{
  background: #efed40;
  color: #262626;
}

.loginbox a{
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}





/* Full-width input fields */
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
h3{
  color: brown;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: black;

}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}



.container {
  padding: 16px;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
  padding-top: 60px;

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
   
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }





@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  background-color: #111;
}

.title {
  font-family: "Montserrat";
  text-align: right;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  height: 100vh;
  letter-spacing: 1px;
}


h1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 70px;
  line-height: .75;
  margin: 10px 0;
}
/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: yellow;
  transition: .35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
}

.white-mode:hover {
  background-color: yellow;
  color: #122;
}
