*{
  margin-top: 20px;
  transition: all 1s ease-in-out;
}

body
{
  margin: 0;
  padding: 0;
  background-image: url("ww.jpg"); 
  background-size:cover;
  font-family:sans-serif;
} 

.hall
{ max-width: 750px;
  max-height: 2200px;
  border-radius: 100px;
  margin:auto;
  background: rgba(0,0,0,0.7);
  box-sizing: border-box;
  padding: 40px;
  color: #fff;
  margin-top: 50px;
}

.hallhead
{ max-width: 700px;
  max-height: 2200px;
  border-radius: 100px;
  margin:auto;
  background: rgba(0,0,0,0.7);
  box-sizing: border-box;
  padding: 40px;
  color: #fff;
  margin-top: 50px;
  font-size: 35px;
  font-family: Showcard Gothic;
}

.form-control
{
  width:650px;
  background: transparent;
  border:none;
  outline: none;
  border-bottom: 2px solid gray;
  color: white;
  font-size: 19px;
  margin-bottom: 16px;
  text-align: center;
}

.formfil{
  font-size: 19px;
  color: white;

}

.menu1{
  top: 70px;
}