.body{
	background: url('night-dark-hotel-luxury-919.jpg');
	background-size: cover;
	 height: 100%; 

  /* Center and scale the image nicely */
  background-position: 0% 30%;
  background-repeat: no-repeat;
  background-color: #42455a;
  font-family: sans-serif;
  font-size: 16px;

  

}
.wrap{
	max-width:850px;
	border-radius:30px;
	margin: auto;
	background: rgba(0,0,0,0.85);
	box-sizing: border-box;
	padding: 15px;
	color: #fff;
	margin-top: 10px;
	margin-right:5%;
	margin-left: 60%;
	
}

.wrap img{
  text-align: center;
  margin: 5% 5%;
  margin-left: 33%;
  margin-right: 100%;


}
.avatar{
	
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	width: 100px;
  height: 100px;
  border-radius: 50%;
  left:calc(50% 100%);
  background-position: center;
  
  
 
}
h2{
	text-align: center;
}
input[type=text],input[type=password],input[type=radio]{
	width: 100%;
	box-sizing: border-box;
	padding: 12px 5px;
	background: rgba(0,0,0,0.10);
	outline: none;
	border: none;
	border-bottom: 1px dotted #fff;
	color: #fff;
	border-radius: 5px;
	margin: 5px;
	font-weight: bolder;
}
input[type=date]{
	width: 100%;
	box-sizing: border-box;
	padding: 12px 5px;
	background: rgba(0,0,0,0.10);
	outline: none;
	border: none;
	border-bottom: 1px dotted #fff;
	color: #fff;
	border-radius: 5px;
	margin: 5px;
	
}
input[type=submit]{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 0px;
	margin-top: 30px;
	outline: none;
	border: none;
	background: #60adde;
	opacity: 0.7;
	border-radius: 20px;
	font-size: 20px;
	color: #fff;
}
input[type=submit]:hover{
	background:#003366;
	opacity: 0.7;
}
.w3-content.w3-section img
{
  box-sizing: border-box;   
  max-width: 500px;
  max-height: 750px;
  position: absolute;
  top: 65%;
  left: 30%;
  right: 50%;
  transform: translate(-50%,-50%);
  width: 700px;
  height: 700px;
  padding:80px 40px;
  box-sizing: border-box;
        }

  .maintopic h3
  {
  	font-family: serif;
  	font-weight: bold;
  	font-style: italic;
  	font-size:50px;
  	color: yellow;
  }



